<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    {{!-- bulma css --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {{!-- font awesome icons --}}
    <script src="https://kit.fontawesome.com/3d68cbfa56.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="">
        <header class="mb-4">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <h1>
                            <a class="button is-primary is-size-3" href="/"><strong>Tech Blog</strong></a>
                        </h1>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="/" class="button is-primary is-medium is-responsive" id="dashboard-btn">
                                Home
                            </a>
                            <a href="/dashboard" class="button is-primary is-medium is-responsive" id="dashboard-btn">
                                Dashboard
                            </a>
                            {{#if loggedIn}}
                            <button class="button is-light is-medium is-responsive" id="logout-btn">
                                Log Out
                            </button>
                            {{else}}
                            <a href="/signup" class="button is-primary is-medium is-responsive" id="sign-up-btn">
                                <strong>Sign Up</strong>
                            </a>
                            <a href="/login" class="button is-light is-medium is-responsive" id="login-btn">
                                Log In
                            </a>
                            {{/if}}
                        </div>
                    </div>
            </nav>
        </header>
        <main class="columns is-centered is-multiline">
            {{{ body }}}
        </main>
        <footer class="has-text-centered">
            Created by MosNes &copy;2022
        </footer>
    </div>
    {{!-- only load logout script if user is logged in --}}
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>