<section class="column is-three-quarters container box m-5">
    <form class="container p-3" id="new-post-form">
        <div class="block is-flex is-justify-content-center">
            <h2 class="is-size-4">Create New Post</h2>
        </div>
        <div class="field">
            <label class="label" for="post-title">Title</label>
            <input class="input is-primary" type="text" id="post-title" name="post-title" />
        </div>
        <div class="field">
            <label for="post-body" class="label">Post Text</label>
            <textarea class="textarea" rows="5" name="post-body" id="post-body"></textarea>
        </div>
        <div class="block is-flex is-justify-content-center mt-4">
            <button class="button is-primary is-size-5" type="submit"><strong>Submit</strong></button>
        </div>
    </form>
</section>
{{#if posts.length}}
<section class="column is-three-quarters container box m-4" id="your-posts-container">
    <div class="block is-flex is-justify-content-center">
            <h2 class="is-size-4">Your Posts</h2>
        </div>
        {{#each posts as |post|}}
        
            {{> post-info post}}
            <div class="mb-5 ml-4 mr-4 is-flex is-justify-content-flex-end">
                <a class="button is-primary is-size-6 mx-1" href="/dashboard/edit/{{post.id}}">Edit This Post</a>
                <button class="button is-danger is-size-6 mx-1" data-type="delete-btn" data-id="{{post.id}}">Delete This Post</button>
            </div>
            
        
        {{/each}}
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>
<script src="/javascript/delete-post.js"></script>