<div id="post-list" class="column is-11">
    {{!-- #each ... /each repeats this block of HTML for each item in the posts array --}}
    {{#each posts as |post|}}

        {{> post-info post}}
        
    {{/each}}
</div>