<form class="column is-half m-3" id="login-form">
    <div class="field">
        <label class="label" for="username-login">Username:</label>
        <div class="control has-icons-left">
            <input class="input" type="text" placeholder="Username" id="username-login">
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label" for="password-login">Password:</label>
        <div class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" id="password-login">
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
        </div>
    </div>
    <div class="columns is-centered mt-3">
        <div class="control column is-3">
            <button class="button is-link is-fullwidth is-size-5" type="submit">Login</button>
        </div>
    </div>
</form>
<script src="/javascript/login.js"></script>