<form class="column is-half m-3">
    <h2 class="title has-text-centered">Create New Account</h2>
    <div class="field">
        <label class="label" for="username-signup">Username:</label>
        <div class="control has-icons-left">
            <input class="input" type="text" placeholder="Username" id="username-signup">
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label" for="password-signup">Password:</label>
        <div class="control has-icons-left">
            <input class="input" type="text" placeholder="Password" id="password-signup">
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
        </div>
    </div>
    <div class="columns is-centered mt-3">
        <div class="control column is-3">
            <button class="button is-link is-fullwidth is-size-5" type="submit">Sign Up</button>
        </div>
    </div>
</form>